#content{
    
}
h2{
    float:left;
    margin: 0;
    margin-top: 3%;
    margin-right: 2%;
    padding: 3%;
    background-color: #eeeeee;
}
.threeEmployee h2{
    width: 355px;
}
.fourEmployee h2{
    width: 500px;
}
.rowEmployee h2{
    width: 935px;
}
.rowEnd h2,
.rowEnd .employee{
    margin-right: 0px;
}
.employee{
    float: left;
    height: 225px;
    width: 105px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #eeeeee;
    font-family: 'Noto Sans SC', sans-serif;
}
.employee img{
    width: 100%;
}
.employee h2{
    font-size: 10px;
}
.employee p{
    font-size: 14px;
}