.threeEmployee h2,
.fourEmployee h2,
.rowEmployee h2{
    float:left;
    margin: 0;
    margin-top: 3%;
    margin-right: 25px;
    padding: 3%;
    background-color: #eeeeee;
}
#content .twothird{
    background-color: #ffffff;
}
#contact ul{
    list-style: none;
    padding: 0;
}
#contact li{
    float: left;
    font-size: 17px;
    display: inline-block;
    margin: 0px;
    width: 144px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 2%;
    padding: 2%;
    height: 100px;
}
#contact{
    width: 100%;
}
.threeEmployee h2{
    width: 355px;
}
.fourEmployee h2{
    width: 500px;
}
.rowEmployee h2{
    width: 940px;
}
.rowEnd h2,
.rowEnd .employee,
#contact .rowEnd li{
    margin-right: 0px;
}
.employee{
    float: left;
    height: 225px;
    width: 104px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 22px;
    background-color: #eeeeee;
    font-family: 'Noto Sans SC', sans-serif;
}
.employee img{
    width: 100%;
}
.employee h2{
    font-size: 10px;
}
.employee p{
    font-size: 14px;
}