#container{
    width: 1000px;
    margin: auto;
}
.nav img{
    width: 16%;
    height: 16%;
}
.nav{
    float: left;
    background-color: #f6d0c1;
    width: 99%;
    padding-left: 10px;
}
.nav ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-bottom: 32.5px;
    width: 55%;
}
.nav li{
    float: left;
}
.nav li a{
    text-decoration: none;
    padding: 31px;
    border: 2px solid #39156e;
    border-width: 2px 0px 2px 2px;
    color: #39156e;
}
.nav li a:hover{
    background-color: #e06c58;
}
.nav .currentpage a{
    background-color: #e06c58;
}
#endnav a{
    border: 2px solid #39156e;
    border-width: 2px 2px 2px 2px;
}
.hours{
    float:right;
    display: inline;
    margin: 0;
    padding: 0;
    width: 18%;
}
.hours h2{
    padding: 0;
    margin: 0;
}
.twothird{
    width: 66%;
    float: left;
}
.onethird{
    width: 33%;
    float: left;
}
.onequarter{
    width: 25%;
    float: left;
}
.clear{
    clear: both;
}
.footer {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    float: left;
}